/*Classes for general structure and headings*/
body{
    color: white;
}

.headings {
    color: white;
    font-family: verdana;
}

.inputDiv {
    color: white;
    padding: 10px;
    text-align: left;
    margin: 10px 0;
    backdrop-filter: blur(10px);
    background-color: rgba(41, 39, 39, 0.336);  
}


/* disappearing class for divs changing */
.dissapearing{
    color: white;
    padding: 10px;
    text-align: left;
    margin: 5px 0;
    display : none;
}


/* classes for inputs box validation */
.invalid {
    background-color: #FF8787;
}

.valid {
    background-color: #B6FF87;
}


/* style for input boxes*/
.InputBox {
    width: 50%;
    border : none;
    padding: 12px 20px;
    margin: 5px 0;
    color: black;
}

/* classes which hide input propmpt and search results IFRAMES*/
.results_class_hide {
    display : none;
}

.results_class_show{
    display: block;
}


.required_input{
    color:black;
}

/*Class for page links*/
a { color: white; }